@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
html {
  font-size: 10px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
.App,
#root {
  height: 100%;
}

body {
  margin: 0;
}

p {
  font-size: 2rem;
  align: left;
}
.App {
  display: flex;
  flex-direction: row;
}

.blue-bg {
  background-color: #3700b3;
  width: 100% !important;
  padding: 1.6rem !important;
}

.next-node-input {
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 500px) {
  .numbers-list-item {
    padding: 0.5rem;
  }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.height-100 {
  height: 100vh;
}

.width-100 {
  width: 100%;
}

.teal-bg {
  background-color: #03DAC5;
}

.purple-bg {
  background-color: #6200ee;
}

.remove-padding {
  padding-right: 0rem !important;
}

.nodeFont {
  font-size: 2rem !important;
  color: azure !important;
}

.container-fullSize{
  width: 100%;
  min-width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.blackFont{
  color: black !important;
}